ons-list-item > ons-icon {
    margin: 0 4px 0 0;
    opacity: 0.8;
  }
  
  .list-item-action {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 20px;
    opacity: 0.3;
  }
  
  .list-item-action > ons-icon {
    margin-top: 14px;
  }
  
  .list-item-note {
    position: absolute;
    right: 36px;
    margin-top:10px;
    top: 2px;
  }
  .notification {
    margin: 2px 2px 1px 1px;
  }
  /* count style  */
  
  .btn-inc-r{
    border: transparent;
    background: transparent;
  }

  .btn-dec-r{
    border: transparent;
    background: transparent;
  }
  .count-numb {
    text-align: center;
    height: auto;
    background: transparent;
    border: none;
    font-size: 25px;
  }
  
  
  .lucent {
    opacity: 0.4;
  }
  